<div class="container-md mt-5">
  <button class="btn btn-success w-100" [routerLink]="['/cadastro']" routerLinkActive="router-link-active" >Cadastrar novo Usuário</button>
  <div>
    <label class="form-label">Pesquisar:</label>
    <input class="form-control" type="text" placeholder="Qual usuário deseja buscar?" (input)="search($event)">
  </div>

  <div class="table-responsive mt-5">
    <table class="table table-hover table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Id</th>
          <th>Nome Completo</th>
          <th>Email</th>
          <th>Cargo</th>
          <th>Salário</th>
          <th>Situação</th>
          <th></th>
        </tr>
      </thead>

      <tbody>

        @if(usuarios.length > 0){
          @for (usuario of usuarios; track $index) {

            <tr>
              <td>{{usuario.id}}</td>
              <td>{{usuario.nomeCompleto}}</td>
              <td>{{usuario.email}}</td>
              <td>{{usuario.cargo}}</td>
              <td>{{usuario.salario}}</td>
              <td >{{usuario.situacao == true ?"Ativo":"Inativo"}}</td>
              <td class="d-flex justify-content-center">
                <button class="btn btn-warning mx-2" [routerLink]="['/editar', usuario.id]">Editar</button>
                <button class="btn btn-info mx-2" [routerLink]="['/detalhes', usuario.id]">Detalhes</button>
                <button class="btn btn-danger mx-2" (click)="deletar(usuario.id)">Excluir</button>
              </td>
            </tr>
          }
        }@else {
          <tr class="text-center">
            <td colspan="7">Nenhum usuário cadastrado</td>
          </tr>

        }

      </tbody>
    </table>
  </div>
</div>
